.detailsPage {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}
.d {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #787887;
}
.cardBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  padding-bottom: 30px;
}
