.container {
  width: 100%;
  height: 832px;
  top: 40px;

  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
}
.section {
  display: flex;
  justify-content: center;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 100px;
  padding-left: 50px;
}
.heroImg {
  width: 643px;
  height: 735.94px;
  top: 82px;
  left: 1340px;

  box-shadow: 0px 15px 20px 0px #00000059;
}

.content {
  width: 663px;
  height: 207px;
  top: 180px;
  left: 135px;
}
h3 {
  font-family: "Poppins", sans-serif;
  font-size: 31px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0.02em;
  text-align: left;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #5c6169;
}
.para {
  width: 570px;
  height: 64px;
  top: 323px;
  left: 137px;
}
.medical {
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0.02em;
  text-align: left;
}
.btn {
  left: 100px;
}
